{% extends 'Bel_molod/base.html' %}
{% load static %}


{% block content %}
<div class="about__content" style="background-image: url({% static 'images/about_bg.svg' %});">
    <div class="container">
        <ul class="about__cards-list">
            <li class="about__cards-item">
                <div class="about__cards-content">
                    <h3 class="about__cards-title">
                        НАИМЕНОВАНИЕ ПОДРАЗДЕЛЕНИЯ
                    </h3>
                    <p class="about__manager">РУКОВОДИТЕЛЬ: ИВАНОВА ИВАНА ИВАНОВНА</p>
                    <p class="about__cards-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut
                        et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
                        ligula consectetur, ultrices.
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                        ultrices.
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien frinonsectetur, ultrices.
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                        ultrices.
                    </p>
                </div>
                <img class="about__cards-img" src="{% static 'images/foto1.jpg' %}" alt="">
                <a class="about__contacts-tel" href="tel:+3845220027">8(38452) 20027</a>
            </li>
            <li class="about__cards-item">
                <div class="about__cards-content">
                    <h3 class="about__cards-title">
                        НАИМЕНОВАНИЕ ПОДРАЗДЕЛЕНИЯ
                    </h3>
                    <p class="about__manager">РУКОВОДИТЕЛЬ: ИВАНОВА ИВАНА ИВАНОВНА</p>
                    <p class="about__cards-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut
                        et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
                        ligula consectetur, ultrices.
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                        ultrices.
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien frinonsectetur, ultrices.
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                        ultrices.
                    </p>
                </div>
                <img class="about__cards-img" src="{% static 'images/foto1.jpg' %}" alt="">
                <a class="about__contacts-tel" href="tel:+3845220027">8(38452) 20027</a>
            </li>
            <li class="about__cards-item">
                <div class="about__cards-content">
                    <h3 class="about__cards-title">
                        НАИМЕНОВАНИЕ ПОДРАЗДЕЛЕНИЯ
                    </h3>
                    <p class="about__manager">РУКОВОДИТЕЛЬ: ИВАНОВА ИВАНА ИВАНОВНА</p>
                    <p class="about__cards-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut
                        et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
                        ligula consectetur, ultrices.
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                        ultrices.
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien frinonsectetur, ultrices.
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                        ultrices.
                    </p>
                </div>
                <img class="about__cards-img" src="{% static 'images/foto1.jpg' %}" alt="">
                <a class="about__contacts-tel" href="tel:+3845220027">8(38452) 20027</a>
            </li>
            <li class="about__cards-item">
                <div class="about__cards-content">
                    <h3 class="about__cards-title">
                        НАИМЕНОВАНИЕ ПОДРАЗДЕЛЕНИЯ
                    </h3>
                    <p class="about__manager">РУКОВОДИТЕЛЬ: ИВАНОВА ИВАНА ИВАНОВНА</p>
                    <p class="about__cards-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut
                        et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis
                        ligula consectetur, ultrices.
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                        ultrices.
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien frinonsectetur, ultrices.
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                        ultrices.
                    </p>
                </div>
                <img class="about__cards-img" src="{% static 'images/foto1.jpg' %}" alt="">
                <a class="about__contacts-tel" href="tel:+3845220027">8(38452) 20027</a>
            </li>
        </ul>
        <div class="map" id="map-test">
        </div>
    </div>
</div>
{% endblock %}