<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="wraper">
        <div class="header__wraper-temp">
            <div class="container">
                <div class="header-temp">
                    <a class="logo" href="{% url 'home' %}">
                        <img src="{% static 'images/logo.svg' %}" alt="">
                    </a>
                    <ul class="header__nav">
                        {% if user.is_authenticated %}
                        <li class="header__btn">
                            <a href="{% url 'users:logout' %}"><img src="{% static 'images/nav-btn4.svg' %}" alt=""></a>
                        </li>
                        <li class="header__btn">
                            <a href="#"><img src="{% static 'images/nav-btn5.svg' %}" alt=""></a>
                        </li>
                        {% else %}
                        <li class="header__btn">
                            <a href="{% url 'users:login' %}"><img src="{% static 'images/nav-btn1.svg' %}" alt=""></a>
                        </li>
                        <li class="header__btn">
                            <a href="{% url 'users:registration' %}"><img src="{% static 'images/nav-btn2.svg' %}"
                                    alt=""></a>
                        </li>
                        {% endif %}
                    </ul>


                    <div class="header__menu-temp">
                        <ul class="header__menu-list">
                            {% for m in menu_list %}
                            <li class="header__menu-item">
                                <a class="header__menu-link" href="{% url m.url_name %}">{{ m.text }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--content-->
        {% block content %}
        {% endblock %}
        <!--content-->
        <div class="footer__wraper">
            <div class="footer" id="footer">
                <div class="container footer__container">
                    <div class="footer__menu">
                        <div class="footer__menu-info">
                            <h5 class="footer__menu-title">Информация</h5>
                            <ul class="footer__menu-list">
                                <li class="footer__menu-item">
                                    <a href="{% url 'plug' %}" class="footer__menu-link">Руководство</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'plug' %}" class="footer__menu-link">Учреждения</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'plug' %}" class="footer__menu-link">Официальные документы</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'plug' %}" class="footer__menu-link">Вакансии центра</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'plug' %}" class="footer__menu-link">Контакты</a>
                                </li>
                            </ul>

                        </div>
                        <div class="footer__menu-activity">
                            <h5 class="footer__menu-title">Деятельность</h5>
                            <ul class="footer__menu-list">
                                <li class="footer__menu-item">
                                    <a href="{% url 'events' %}" class="footer__menu-link">События</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'plug' %}" class="footer__menu-link">Сообщества</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'plug' %}" class="footer__menu-link">Трудоустройство молодежи 14-17
                                        лет</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'plug' %}" class="footer__menu-link">Потдержка молодежных
                                        инициатив</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'plug' %}" class="footer__menu-link">Волонтерский штаб</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="{% url 'plug' %}" class="footer__menu-link">Вопросы и ответы</a>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="footer__contacts">
                        <div class="footer_contacts-content">
                            <p class="footer_contacts-addr">652600, Кемеровская область - Кузбасс,
                                г. Белово, пер. Цинкзаводской, 11 </p>
                            <a class="footer__contacts-email" href="mailto:bel_molod@mail.ru">bel_molod@mail.ru</a>
                            <a class="footer__contacts-tel" href="tel:+3845220027">8(38452) 20027, 20688</a>
                        </div>
                        <div class="footer__contacts-btns">
                            <a class="write__us-btn" href="{% url 'send' %}">Написать нам</a>
                            <a href="#">
                                <img class="social" src="{% static 'images/telegram.svg' %}" alt="">
                            </a>
                            <a href="#">
                                <img class="social" src="{% static 'images/vk.svg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="footer_adm-links">
                        <a class="agbo-link" href="https://www.belovo42.ru/">Администрация Беловского городского
                            округа</a>
                        <a class="umpis-link" href="http://молодежьспортбелово.рф/">Управление молодежной
                            политики,физической культуры и спорта</a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p class="copyright__content">
                    © МБУ “Центр молодежной политики и туризма города Белово”, 2023
                </p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=3540696d-60b6-442e-9a77-7170956c0c73&lang=ru_RU"></script>
    <script src="{% static 'js/map.js' %}"></script>
</body>

</html>