{% extends 'Bel_molod/base.html' %}
{% load static %}


{% block content %}
<div class="reg__content" style="background-image: url({% static 'images/reg_bg.svg' %});">
    <div class="container">
        <form class="reg__form">
            <input class="reg__input-item" type="text" name="Name" id="Name" placeholder="Ваше имя">
            <input class="reg__input-item" type="password" name="Password" id="Password" placeholder="Пароль">
            <input class="reg__input-item" type="password" name="R_Password" id="R_Password"
                placeholder="Поттверждение пароля">
            <input class="reg__input-item" type="email" name="E-mail" id="E-mail" placeholder="E-mail">
            <button class="reg__form-btn" type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock %}