{% extends 'Bel_molod/base.html' %}
{% load static %}


{% block content %}
<div class="send__content" style="background-image: url({% static 'images/auth_bg.svg' %});">
    <div class="container">
        <form class="send__form">
            <input class="send__input-item" type="text" name="Name" id="Name" placeholder="Ваше имя">
            <input class="send__input-item" type="tel" name="Phone" id="Phone" placeholder="Номер телефона">
            <input class="send__input-item" type="email" name="E-mail" id="E-mail" placeholder="E-mail">
            <textarea class="send__input-item message__text" name="Message_text"
                placeholder="Текст сообщения 500 символов" maxlength="500"></textarea>
            <button class="send__form-btn" type="submit">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}